.header-container {
  height: 8vh;
  background-color: rgb(47, 50, 54);

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container button {
  color: rgb(212, 211, 211);
  margin: 15px;
  padding: 3px 7px;
  border-radius: 5px;
  border: none;
  background-color: rgb(47, 50, 54);
  font-family: "Roboto", serif;
  font-size: 15px;
  letter-spacing: 1.3px;
  outline: none;
  cursor: pointer;
}

.header-container button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(53, 56, 61);
}

.header-container button:active {
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: rgb(58, 61, 66);
}

.btn-container {
  height: 30px;
  border-right: 0.8px solid rgb(99, 102, 107);

  display: flex;
  align-items: center;
}

#stop {
  display: flex;
  align-items: center;
  font-size: 18px;
}
