.main-container {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.main-container div {
  margin-right: 1.5px;
  width: 1.5px;
  background-color: rgb(36, 26, 88);
}
